#cta {
   min-height: 50vh;
   background-color: var(--bs-white);
   background-image: radial-gradient(rgb(255, 255, 255), rgb(245, 245, 245));
   display: grid;
   align-items: center;
   text-align: center;
}
