#header {
   min-height: 100vh;
   //    background-color: var(--bs-purple);
   @include flex(column);

   .nav {
      @include flex();
      height: 80px;

      .logo{
         a{
            font-size: 1.5rem;
            text-transform: uppercase;
            color: var(--bs-indigo);
         }
      }
   }

   .nav-list {
      @extend .nav;

      a {
         color: var(--bs-dark);
         transition: var(--transition);
         position: relative;

         &::after {
            content: "";
            height: 2px;
            width: 0;
            background-color: var(--bs-indigo);
            position: absolute;
            left: 0;
            bottom: -5px;
            transition: width 0.4s ease-in-out;
         }

         &:hover,
         &.active {
            color: var(--bs-indigo);

            &::after {
               width: 100%;
            }
         }
      }
   }

   .start-btn {
      .btn {
         --bs-indigo: var(--bs-white);
         margin-top: 0;
         color: var(--bs-dark);

         &:hover {
            color: var(--bs-white);
         }
      }
   }

   .showcase {
      margin-top: 8em;
      @include grid();

      .showcase-content {
         h3 {
            margin-bottom: 1em;
            font-size: 1rem;
            color: var(--bs-indigo);
         }

         .title {
            line-height: 1.3;
         }
      }

      .img-box {
         border-radius: 100%;
         overflow: hidden;
         height: 30rem;
         width: 30rem;
         position: relative;
         outline: 1px solid var(--bs-indigo);
         outline-offset: 1em;

         img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }
}
