#services {
   background-color: var(--bs-light-blue);

   .cards {
      @include grid();
      align-items: stretch;
      margin-top: 4em;
   }

   .card {
      padding: 3em;
      background-color: var(--bs-white);
      border-radius: var(--border-radius);
      text-align: center;
      transition: var(--transition);

      &:hover {
         transform: scale(1.05);
      }

      .icon-box {
         background-color: var(--bs-indigo);
         max-width: max-content;
         padding: 1.5em;
         margin-inline: auto;
         margin-bottom: 2em;
         border-radius: var(--border-radius);

         i {
            font-size: 2em;
            color: var(--bs-white);
         }
      }

      .icon-box.cloud {
         position: relative;
         &::after {
            content: "+";
            position: absolute;
            inset: 50% auto auto 50%;
            transform: translate(-50%, -50%);
            color: var(--bs-indigo);
            font-size: 1.5rem;
            font-weight: 500;
         }
      }

      h2 {
         font-size: 1.25rem;
         // font-weight: 500;
         font-family: var(--poppins);
      }
   }
}
