#testimonials {
   background-color: var(--bs-light-blue);

   .testimonials-body {
      margin-top: 2em;
      position: relative;
      width: 100%;
      overflow: hidden;
   }

   #slide-container {
      position: relative;
      width: 100%;
      max-height: 16em;
      min-height: 16em;
      transition: transform 0.5s ease;
   }

   .card {
      background-color: var(--bs-light);
      padding: 2em;
      overflow: hidden;
      border-radius: var(--border-radius);

      width: calc(50% - 0.5em);
      position: absolute;
      inset: 0;
      transition: all 0.4s ease;

      &::after {
         content: "";
         background-color: var(--bs-indigo);
         height: 50px;
         width: 50px;
         position: absolute;
         inset: -25px -25px auto auto;
         border-radius: 100%;
         opacity: 0.5;
      }
   }

   .details {
      @include flex();
      margin-top: 2em;
      justify-content: start;
      gap: 1.5em;
   }

   .avatar {
      height: 90px;
      width: 90px;
      overflow: hidden;
      border-radius: 100%;

      img {
         height: 100%;
         object-fit: cover;
      }
   }

   .avatar-text {
      h2 {
         font-size: 1.25rem;
      }

      p {
         margin-top: 0;
      }
   }

   .quete {
      font-size: 6rem;
      position: absolute;
      bottom: 0;
      right: 10%;
      opacity: 0.05;
      color: var(--bs-indigo);
      user-select: none;
   }

   .slide-btn-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2px;
   }

   .slide-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      line-height: normal;
      padding: 0.5em 1em;
      border: 0;
      background-color: var(--bs-light);
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
         background-color: var(--bs-indigo);
         color: var(--bs-white);
      }

      &:active {
         background-color: var(--bs-pink);
      }

      &:disabled {
         opacity: 0.5;
      }
   }
}

@media (max-width: 50em) {
   #testimonials {
      .card {
         width: 100%;
      }
   }
}
