@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Rubik:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
:root {
  --bs-blue: hsl(216, 98%, 52%);
  --bs-indigo: hsl(263, 90%, 51%);
  --bs-purple: hsl(261, 51%, 51%);
  --bs-pink: hsl(330, 67%, 52%);
  --bs-red: hsl(354, 70%, 54%);
  --bs-white: hsl(0, 0%, 100%);
  --bs-light: hsl(210, 17%, 98%);
  --bs-dark: hsl(240, 4%, 9%);
  --bs-gray: hsl(240, 8%, 21%);
  --poppins: "Poppins", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --rubik: "Rubik", sans-serif;
  --border-radius: 0.5em;
  --transition: all 0.4s ease-in-out;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::first-letter {
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  text-rendering: optimizeSpeed;
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  overflow-x: hidden;
  color: var(--bs-dark);
  background-color: var(--bs-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--montserrat);
  font-weight: 500;
  line-height: 1;
}

a {
  text-decoration: none;
}

p {
  margin-top: 1em;
  color: var(--bs-gray);
}

ol,
ul {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

section,
main,
footer {
  padding-block: 4em;
}

.btn {
  --border-radius: 50px;
  display: inline-block;
  margin-top: 2em;
  padding: 0.8em 1.5em;
  text-transform: capitalize;
  background-color: var(--bs-indigo);
  color: var(--bs-white);
  border-radius: var(--border-radius);
  transition: var(--transition);
}
.btn:hover {
  background-color: var(--bs-dark);
  box-shadow: 5px 5px 0.5em -0.1em var(--bs-indigo);
}
.btn:active {
  background-color: var(--bs-dark);
}

.title {
  font-size: clamp(2rem, 3vw, 3.375rem);
}

.sub-title {
  font-family: var(--rubik);
  font-weight: 400;
  letter-spacing: 2px;
}

.main-title {
  margin-bottom: 2em;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin-inline: auto;
}

#header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}
#header .nav, #header .nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  height: 80px;
}
#header .nav .logo a, #header .nav-list .logo a {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--bs-indigo);
}
#header .nav-list a {
  color: var(--bs-dark);
  transition: var(--transition);
  position: relative;
}
#header .nav-list a::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: var(--bs-indigo);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: width 0.4s ease-in-out;
}
#header .nav-list a:hover, #header .nav-list a.active {
  color: var(--bs-indigo);
}
#header .nav-list a:hover::after, #header .nav-list a.active::after {
  width: 100%;
}
#header .start-btn .btn {
  --bs-indigo: var(--bs-white);
  margin-top: 0;
  color: var(--bs-dark);
}
#header .start-btn .btn:hover {
  color: var(--bs-white);
}
#header .showcase {
  margin-top: 8em;
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  justify-content: space-between;
  align-items: center;
}
#header .showcase .showcase-content h3 {
  margin-bottom: 1em;
  font-size: 1rem;
  color: var(--bs-indigo);
}
#header .showcase .showcase-content .title {
  line-height: 1.3;
}
#header .showcase .img-box {
  border-radius: 100%;
  overflow: hidden;
  height: 30rem;
  width: 30rem;
  position: relative;
  outline: 1px solid var(--bs-indigo);
  outline-offset: 1em;
}
#header .showcase .img-box img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */